#img-bg{
    background-image: url('https://c0.wallpaperflare.com/preview/745/709/180/background-black-coffee-close-up-coffee.jpg');
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}